body {
    margin: 0;
    font-family: "Spectral", serif;
    font-style: normal;
}
/*---------------HEADER--------------*/
.logo{
    display: flex;
    align-items:center;
    justify-content:space-evenly
}

header h1{
    font-size: 25px;
    color: grey;
    font-family: "Spectral", serif;
    font-weight: 300;
}

.logo img {
    width: 20%; 
    height: 15%;
    margin: 20px
}

/*-------------------NAV--------------------*/
.navbar {
    font-size: 18px;
    background-color: rgb(182, 218, 218) ;
   
}

.nav-item{
    padding-left: 30px;
    padding-right: 30px;
}



.nav-link{
    font-size: 20px;
    color: #333;
    text-decoration: none
}

.nav-link:hover{
    color: #f2f2f2;
}

.dropdown-menu{
    background-color: rgb(182, 218, 218) ;
    border: none;
}

.navbar-toggler {
    border: none; 

}

.navbar-toggler:hover {
    background-color: #f2f2f2; 

}
.booking-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.booking-nav li{
    padding: 5px;
    margin: 10px
}
.main-nav a,
.booking-nav li {
    text-decoration: none;
    color: grey;
}

.booking-nav input,
.booking-nav select {
    padding: 5px;
}
.booking-nav h3{
    font-size: 15px;
    font-weight: 400;
    color: black;
}
#fecha-llegada,
#fecha-salida,
#tipo-habitacion {
  color:black;
  border: 8px solid #c0e8e1;
}
.btn-nav{
    height: 35px;
    border: none;
    border-radius: 4px;
    padding: 10px;
    text-decoration: none;
    background-color: #007bff ;
    color: #fff;
    cursor: pointer;
    
}
.btn-nav:hover{
    background-color: #0056b3;
}

/*-------------------MAIN------------------*/

.img-frente{
display: flex;
justify-content: center;
align-items: center;
height: 70%;
}
main{
    margin: 20px
}
.fotos-main{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.fotos-1{
    height: 40%;
}

.main-p{
    font-weight: 300;
    margin: 20px 70px;
    text-align: justify;
}
.fa-solid,
.fa-brands{
    color: grey;
    padding:5px
}
.caja-foto{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 80%;
    margin: auto;
}
.caja-galery{
width: 150px;
height: 200px;
margin: 15px;
text-align: center;
line-height: 150px;
}



.habitaciones-box {
    position: relative;
    width: 90%;
    margin: 20px auto;
    overflow: hidden;
}

.image-overlay {
    position: relative;
}

.image-overlay img {
    width: 120%;
    vertical-align: top;
    opacity: 0.8;
}

.content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    border: double;
    padding: 10px
}

.content h2 {
    font-size: 22px;
    font-weight: 300;
}

.btn {
    height: 54px;
    display: inline-block;
    padding: 10px;
    background-color: grey;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-weight: 200;
}

.btn:hover {
    background-color: #8cbbd6;
}

/*-------------------SPA----------------*/

.h3-spa{
    color: gray;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    animation: bounce; 
    animation-duration: 2s; 
}

#masajes{
    display:flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content:space-evenly;
}
#masajes .card{
    height: 400px;
}
#masajes .card img{ 
    height: 175px;
}

#tratamientos-faciales{
    display: flex;
    align-items:center;
    justify-content:space-evenly;
    flex-wrap: wrap;
}
#tratamientos-faciales .card{
    height: 400px; 
}
#tratamientos-faciales .card img{ 
    height: 175px; 
}

#tratamientos-corporales{
    display: flex;
    align-items:center;
    justify-content:space-evenly;
    flex-wrap: wrap;
}
#tratamientos-corporales .card{
    height: 400px;
}
#tratamientos-corporales .card img{
    height: 175px;
}

.card{
    margin-bottom: 15px;
}

/*-------------------ACTIVIDADES------------*/
.fa-bell{
    display: flex;
    justify-content: center;
    padding: 5px;
}
/*-------------------GASTRONOMIA------------*/


.h-gastronomia {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}
.h1-gastronomia {

    color: #333;
    animation: bounce; 
    animation-duration: 2s; /
}
.menu-gastronomia {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.menu-item-gastronomia {
    flex-basis: 30%;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: justify;
}
.img-gastronomia {
    max-width: 40%;
    height: auto;
}

/*-------------------HABITACIONES------------------*/
.habitacion1{
    display: flex;
    margin: 25px auto;
    justify-content:right;
    width: 90%;
    border-style:groove;
    border-width:thin;
    border-radius: 10px;  
    background-color: beige;  

}

.detallehabitacion h2{
    font-family: "Spectral", serif;
}

.habitaciontexto{
    font-family: "Spectral", serif;
    font-size: 18px;
}

.detallehabitacion{
    width: 90%;
    padding: 15px; 
}


.icono-texto-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10px;
    padding-top: 10px;
    justify-content: left;
}


.icono-texto {
    display: flex;
   
}


.icono {
    font-size: 17px;
    color: #000000; 
    padding-right: 10px;
  
}

.fa-snowflake{
    padding-right: 10px;
    padding-left: 8px;

}

.fa-lock{
    padding-right: 10px;
    padding-left: 8px;
}

.texto {
    font-family: "Spectral", serif;
    font-weight: bold;
    font-size: 12px; 
    padding-top: 3px;
}

#suite, #deluxe, #standard{
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 10px; 
    min-width: 300px;

}

.carousel-slide {
    width: 80%;
    display: flex;
    justify-content: center;
}


.carousel-slide img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/*-------------------CONTACTO------------------*/

.contacto{
    display: flex;
    margin: 0 auto;
    text-align: center;
    border-color: #000000;
    width: 95%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: beige; 
}


.formulario {
    display: flex;
    flex-wrap: wrap; 
    align-items: flex-start;
    justify-content: center; 
    width: 90%;
    margin: 20px auto;
    padding-left: 0px;
 
}



#form {
    width: 70%; 
    

}


.formulario h1,
.formulario p,
.formulario form{
    width: 100%; 
    text-align: center; 
    margin-bottom: 10px;
    font-family: "Spectral", serif;
    
}


.formulario .datos label {
    margin-bottom: 5px; 
    width: 100%; 
    
}

.formulario .datos input,
.formulario .datos textarea,
.boton button {
    width: 95%; 
    margin-bottom: 10px; 
    box-shadow: 1px 1px 1px #8cbbd6;
    font-size: 17px;

}

.formulario .datos textarea{
    padding-left: 10px;

}
.boton button {
  background-color:  #8cbbd6;
}

.hotelcontacto{
    margin: 20px auto;
    padding: 20px 20px;
    font-family: "Spectral", serif;
    
}

.hotelcontacto h2{
    font-size: 25px;
}

.hotelcontacto p{
    font-size: 17px;
}

#especificaciones{
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    padding-left: 10px;
    
}


#fecha{
    margin: 10px;
}
.negocio{
      padding: 20px;
      display: inline-block;
      text-align: left;
      width: 100%;
     }

.negocio-texto{
    justify-content: left;
}

.radio-option{
    display: flex;
}

#si, #no{
    margin-right: 5px;
}



.error {
    color: rgba(248, 2, 2, 0.877);
    display: none;
    font-weight: bold;
    margin-bottom: 10px;
}

.btn-final{
    display: block;
    text-align: center;
    padding: 50px;
    color: grey;
}


/*-------------------FOOTER----------------*/
footer {
    background-color: #f2f2f2;
    padding: 15px 0;
    font-size: 12px;
    font-weight: 300;
    margin: 5px
}
footer h3{
    color: grey;
    font-size: 12px
}
.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.social-media,
.contact-info,
.newsletter {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 15px;
}

.social-media h3,
.contact-info h3,
.newsletter h3 {
    margin-top: 0;
}

.social-media ul {
    list-style: none;
    padding: 0;
}

.social-media ul li,
.contact-info p {
    margin-bottom: 5px;
}

.newsletter form {
    display: flex;
}

.newsletter input[type="email"],
.newsletter button {
    height: 35px;
    border: none;
    border-radius: 4px;
    padding: 0 10px;
}

.newsletter input[type="email"] {
    flex-grow: 1;
    margin-right: 10px;
}

.newsletter button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.newsletter button:hover {
    background-color: #0056b3;
}

.copyright {
    text-align: center;
    margin-top: 15px;
}
/*-----------------------MEDIA QUERIES----------------*/
@media (min-width: 769px) and (max-width: 961px) {
    #especificaciones {
        display: block;
        
    }

    .booking-nav li{
        padding: 0px auto;
        margin: 3px;
         
    }

    .booking-nav ul {
        width: 95%;
    }
}

@media (max-width: 768px) {
    .booking-nav ul {
        list-style: none;
        display: block;
        justify-content: center;
        align-items: center;
     }

    

    .booking-nav{
        margin: 0 auto;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .booking-nav li{
        padding: 0px;
        margin: 10px auto;
         
    }

    .btn-nav{
      padding: 7px;
        
    }

    .main-p{
        margin: 20px 45px;
        text-align: center;
    }

    .contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .mapa {
        margin-bottom: 20px; 
    }

    .formulario {
        width: 80%; 
    }
    .caja-foto {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .footer-content{
        margin: 20px;
        justify-content: space-around;
        padding:10px;
    }
    .newsletter{
        flex-basis: calc(100.33% - 20px);
    }        

      .habitacion1{
        display: block;
    }
   
    #especificaciones{
        display: block;
        justify-content: center;
        padding-left: 0px;

   
    }

    /*SPA */
    section div .card {
        display: block;
        flex-wrap: wrap; 
        width: 100%;
    
    }
    .card{
    margin-bottom: 15px;
    }

   
}


@media (max-width: 576px) { 
   
    .habitacion1{
        display: block;

    }
    
   .booking-nav{
    font-size: 12px;
    
   }

   .booking-nav ul {
    padding: 0px;
 }

    /*index media.queries*/
    header h1{
    font-size: 20px;
    }

    .img-frente {
        width: 100%; 
        overflow: hidden; 
        text-align: center;
    }

    .caja-foto{
    display: grid;
    grid-template-columns: 50% 50%;
    }
    .footer-content{
    margin: 20px;
    justify-content: space-around;
    
    }
    .newsletter{
    flex-basis: calc(100.33% - 20px);
   }        
   /*--------actividades-------*/
   .menu-gastronomia {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-around;
    margin-top: 30px;
    }
    .h3-spa{
    font-size: 19px;
    }
    }
    
/*---restaurante---*/
 
.btn-formulario{
    height: 35px;
    border: none;
    border-radius: 4px;
    padding: 10px;
    text-decoration: none;
    background-color: #007bff ;
    color: #fff;
    cursor: pointer;
    margin-bottom: 15px ;

}
.btn-nav:hover{
    background-color: #0056b3;
}


/*Responsive*/
.seccion_restaurantes img{
    width: 100%;
    height: auto;  
    border-radius: 5px; 
   }

.seccion_restaurantes{
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(300px, 1fr)
        );
    gap: 16px;
    grid-template-rows: 1fr;
}

@media (width < 980px){
    .seccion_restaurantes{
        grid-template-columns: 1fr;
    }
}

@media (width > 1240px){
    .seccion_restaurantes{
        grid-template-columns: repeat(
            auto-fit,
            minmax(400px, 1fr)
        );
    } 
}

@media (width < 425px){
    .seccion_restaurantes{
        grid-template-rows: max-content;
    }
}
     


.seccion_restaurantes_caja{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px;
    grid-auto-rows: 150px;
    background-color:beige;
    border-radius: 5px;
    align-items: center;
}
.seccion_restaurantes_caja h3{
    margin: 0px 20px;
    font-style:bold;
    font-size: 25px;
    color: rgb(65, 65, 66);
    text-align: center;
}
.seccion_restaurantes_caja p {
    margin: 0px 20px;
    color: rgb(114, 113, 113);

}
.formulario fieldset{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    border: 3px #c0e8e1 solid;
    border-radius: 5px;
    margin-top: 16PX;
}


.formulario input, .formulario select{
    
    margin: 5px;
    height: 40px;
    
    border-radius: 5px;
    border: none;
    outline: grey ;
}

@media(width<1000px){
    .formulario fieldset{
        grid-template-columns: 1fr;
        grid-template-rows:1fr ;
    }
}




  
        
